{% extends "scaffolding.html" %}
{% load i18n %}

{% block extra_css %}
{% endblock %}            

{% block extra_js %}
{% endblock %}

{% block main %}
<div class="row-fluid">
<div class="span12"><h1>Maker : {{ current_member.user.username }}</h1></div>
</div>
<div class="row">
{% for level in levels %}
<div class="span2">
{{ forloop.counter }}
<a href="/game/slideout/{{ current_member.user.id }}/{{ level.id }}/">{{ level.title }}</a>
</div>
{% empty %}
<div class="span6">
    <div class="alert">No Level here</div>
</div>
{% endfor %}
</div>
{% endblock %}

{% block right_panel %}
{% if request.user.is_authenticated %}
    <li><a>{% trans "Welcome," %}{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</a></li>
    <li><a href="/logout/">{% trans "Log out" %}</a></li>
{% else %}
    {% if form.non_field_errors %}
    <div class="alert alert-error">
    {% for error in form.non_field_errors %}
    <p class="errornote">{{ error }}</p>
    {% endfor %}
    </div>
    {% endif %}
    <form id="login-form" action="/login/" method="post">
        {% csrf_token %}
        <div id="content-main">
            <div class="form-row">
                <label for="id_username" class="required">{% trans "Username or email:" %}</label>
                <input type="text" required name="username" id="id_username" value="{{ request.POST.username }}" />
            </div>
            <div class="form-row">
                <label for="id_password" class="required">{% trans "Password:" %}</label>
                <input type="password" required name="password" id="id_password" />
                <input type="hidden" name="this_is_the_login_form" value="1" />
            </div>
        </div>
        <button class="btn btn-primary">{% trans "Log in" %}</button>
    </form>
{% endif %}
{% endblock %}
